name: MealDB CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies & build React app
        working-directory: frontend/mealdb-frontend
        run: |
          npm install
          npm run build

      - name: Build Docker image
        working-directory: frontend/mealdb-frontend
        run: |
          docker build -t mealdb-react:latest .
